p { color: #555; }
H1 { color: blue; }
UL { color: #333; }
.otsikko2 { color: #222;}
#luku { color: #111 }
.eka {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: red;
    text-align: center;
    line-height: 400%;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    text-transform: uppercase;
}
.toka {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    text-align: center;
    line-height: 65px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    text-transform: uppercase;
}
.koli {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: green;
    left: 500px;
    text-align: center;
    line-height: 65px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    text-transform: uppercase;
}
body {
    margin: 0 auto;
    max-width: 50em ;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em
}