p { color: black; }
H1 { color: blue; }
UL { color: pink; }
.otsikko2 { color: red; }
#luku { color: red; }
.eka {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: red;
    text-align: center;
    line-height: 400%;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    text-transform: uppercase;
}
.toka {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    text-align: center;
    line-height: 65px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    text-transform: uppercase;
}
.koli {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: green;
    left: 500px;
    text-align: center;
    line-height: 65px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    text-transform: uppercase;
}